$test-color: red;
$color: #dededf;
$color_active: #2396ef;
$font_color: #535455;
$default_color: #fff;
$app_bg_color_1: #41525f;
$app_bg_color_2: #2c2020;
$link_color: #fff;
$content_font_color: #535455;

$input_font_color: #535455;
$input_bg_color_1: #f2f3f4;
$input_bg_color_2: #ffffff;
$input_focus_color: #083891;
$body_bg_color_1: #95b4e4;
$body_bg_color_2: #79abf5;

$bgColor-1: #94ccf7;
$bgColor-2: #2686cf;
$titleColor: #535455;
$boxBgColor-1: #f1bd81;
$boxBgColor-2: #e07e0e;
